<h2 class="text-center mb-4">Listado de Registros</h2>

<div class="container">
  <div class="row">
    <!-- Listado de registros -->
      <ul class="list-group" id="listadoRegistros">
        @for (reg of registros; track reg.createdAt) {
        <li class="list-group-item d-flex align-items-center" [class.bg-success]="registroSelect===reg" (click)="mostrarDetalles(reg)">
          @if(reg.categoria=="log") {
          <i class="bi bi-clipboard-check text-primary me-2"></i>
          } @else if (reg.categoria=="warn") {
          <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>
          } @else {
          <i class="bi bi-exclamation-diamond-fill text-danger me-2"></i>
          }
          <strong>{{reg.cliente.habitacion}} - {{reg.titulo}} </strong>
          <button class="ms-auto badge bg-danger" (click)="borrarRegistro(reg)">Borrar</button>
        </li>
        }
      </ul>
    </div>
</div>
